
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Header")
</head>
<body class="bg-dark">
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    @Html.Partial("_Scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
