@{
    ViewBag.Title = "Contacts";
}

<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="card">
            <div class="card-block">
                <div class="card bg-light">
                    <div class="card-block">
                        <div class="input-group py-2 px-2">
                            <input id="search-contacts" class="form-control" type="search" placeholder="Search for contacts">
                            <span class="input-group-btn">
                                <button id="search-contacts-btn" class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="form-group px-2 py-2">
                            <label for="search-types-list">Search By:</label>
                            <select class="form-control" id="search-types-list">
                                <option>Last and first name</option>
                                <option>Last Name</option>
                                <option>First Name</option>
                                <option>Group</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block list-group bg-light" id="contact-list-target" style="overflow:auto;max-height:45em">
                <div class="mx-auto loader"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">        
        <div class="row">            
            <button id="create-contact-btn" type="button" class="btn btn-info rounded-circle mx-2" style="cursor:pointer">
                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
            </button>            
        </div>        
        <hr />
        <div class="row pl-4" id="contact-view-panel">
               
        </div>
    </div>
</div>

<script id="contact-list-template" type="x-tmpl-mustache">
    <a class="list-group-item list-group-item-action my-1 mx-auto" data-target="{{ID}}" style="width:100%; cursor:pointer;width:95%">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ProfileImagePath}}" alt="Alternate Text" class="rounded" style="max-height:100px" />
            </div>
            <div class="col-md-8 px-3">
                <div class="px-3">
                    <h6 class="">{{LastName}} {{FirstName}}</h6>
                    <span class="text-muted">{{PhoneNumber}}</span> <br />
                    <span class="text-muted">{{Email}}</span> <br />
                    <span class="text-muted">{{Address}}</span><br />
                </div>
            </div>
        </div>
    </a>
</script>

@section pagespecific {
    <script type="text/javascript" src="~/Scripts/Web/Home/index.js"></script>
}