@model IEnumerable<AddressBook.ViewModels.ContactIndexViewModel>

@{
    ViewBag.Title = "Contacts";
}

<ul>
   @{
       foreach (var contact in Model)
       {
            <li>@contact.FullName</li>
       }
    }
</ul>