@{
    ViewBag.Title = "Contacts";
}

<div class="col-lg-3">
    <div class="card" style="overflow:hidden;">
        <div class="card-block">
            <div class="card">
                <div class="card-block">
                    <div class="input-group">
                        <input id="search-contacts" class="form-control" type="text" placeholder="Search for contacts">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="card-block">
                    <div class="form-group px-2 py-2">
                        <label for="search-types">Search By:</label>
                        <select class="form-control" id="search-types">
                            <option>Last and first name</option>
                            <option>Last Name</option>
                            <option>First Name</option>
                            <option>Groups</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block list-group" id="contact-list-target">
            <div class="mx-auto loader"></div>           
        </div>
    </div>
</div>

<script id="contact-list-template" type="x-tmpl-mustache">
    <a class="list-group-item list-group-item-action" data-target="{{ID}}" style="width:100%; cursor:pointer">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ProfileImagePath}}" alt="Alternate Text" class="rounded" style="max-height:100px" />
            </div>
            <div class="col-md-8 px-3">
                <div class="px-3">
                    <h6 class="">{{LastName}} {{FirstName}}</h6>
                    <span class="">{{PhoneNumber}}</span> <br />
                    <span class="">{{Email}}</span> <br />
                    <span class="">{{Address}}</span><br />
                </div>
            </div>
        </div>
    </a>
</script>